.slick-arrow{
    display: none!important;
}

.slick-slide{
    width: 630px;
    height: 292px;
}
.slick-dots{
    bottom: auto;
    margin-top: 50px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color:  #ff7a00;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    color:  #ff7a00;

}