.rent {
  margin-top: 83px;

  .rentItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .caption {
      h2 {
        color: rgb(17, 17, 17);
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 800;
        line-height: 49px;
        margin-bottom: 20px;
      }
      p {
        color: rgb(17, 17, 17);
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 400;
        line-height: 33px;
        margin-bottom: 60px;
        width: 400px;
      }
      button {
        padding: 15px 30px 15px 30px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        border-radius: 25px;
        box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
        background: linear-gradient(
          87.14deg,
          rgb(255, 122, 0) 0.142%,
          rgb(255, 176, 57) 99.872%
        );
        border: none;
        cursor: pointer;
      }
    }
    .picture {
      img {
        width: 100%;
        border-radius: 10px 0px 0px 10px;
        box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1);
      }
    }
  }
  .items {
    margin-top: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 305px;
      width: 100%;
      border-radius: 10px;
      padding: 40px 20px 20px 20px;
      box-shadow: 1px 1px 1px 1px rgba(17, 17, 17, 0.3);
      background-color: rgb(255, 255, 255);
      height: 231px;

      img {
        display: block;
        width: 72px;
      }
      p {
        color: rgb(17, 17, 17);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        margin-top: 26px;
        width: 260px;
      }
    }
  }
}
@media (max-width: 1280px) {
  .rent {
    .rentItem {
      .caption {
        h2 {
          font-size: 35px;
          line-height: 40px;
        }
      }
    }
    .items {
      justify-content: space-around;
      .item {
        max-width: 240px;
        width: 100%;

        img {
          width: 70px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .rent {
    .rentItem {
      .caption {
        h2 {
          font-size: 27px;
          line-height: 33px;
        }
        p {
          width: 250px;
          font-size: 22px;
        }
        button {
          padding: 10px 30px 10px 30px;
          font-size: 14px;
        }
      }
      .picture{
        width: 750px;
      }
    }
    .items{
      .item{
        width: 186px;

        img{
          width: 60px;
        }
        p{
          font-size: 14px;
          width: 160px;
        }
      }
    }
  }
}
@media(max-width:769px){
  .rent{
    .rentItem {
      position: relative;
      width: 100%;
      right: 0;
      justify-content: flex-end;
      .caption{
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 90%;
        background:rgba(17, 17, 17, 0.5) ;
        border-radius: 10px 0px 0px 10px;
        h2{
          color: #fff;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
        }
        p{
          font-size: 18px;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
          line-height: 20px;
        }
        button{
          padding: 5px 20px;
          font-size: 14px;
        }
      }
      .picture{
        width: 90%;
        img{
          height: 100%;
        }
      }
    }
    .items{
      justify-content: space-around;
      flex-wrap: wrap;
      .item{
        width: 144px;
        margin-bottom: 10px;
        img{
          width: 55px;
        }
        p{
          width: 145px;
          font-size: 13px;
        }
      }
    }
  }
}
@media(max-width:480px){
  .rent{
    .rentItem{
      .caption{
        width: 95%;
        height: 257px;
        h2{
          font-size: 22px;
        line-height: 28px;
        }
        p{
          font-size: 14px;
          line-height: 18px;
        }
        button{
          font-size: 12px;
        }
      }
      .picture{
        width: 95%;
        height: 257px;
      }
    }
    .items{
      .item{
        width: 140px;
        height: 200px;
        padding: 30px 20px 20px 20px;

        p{
          width: 120px;
          font-size: 11px;
        }
        img{
          width: 50px;
        }
      }
    }
  }
}