.request {
  margin-top: 100px;
  display: flex;
  justify-content: center;

  .requestForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 393px;
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px -5px 20px 0px rgba(41, 41, 42, 0.2);
    background-color: rgb(255, 255, 255);
    margin-right: 81px;
    h4 {
      color: rgb(43, 122, 241);
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      margin-bottom: 24px;
    }
    .form {
      display: flex;
      flex-direction: column;

      .input {
        box-sizing: border-box;
        border: 1px solid rgba(17, 17, 17, 0.5);
        border-radius: 10px;
        color: rgba(17, 17, 17, 0.5);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        width: 313px;
        margin-bottom: 15px;
        padding: 10px 0 10px 20px;
      }
      .input:nth-last-child(2) {
        padding: 10px 0 80px 20px;
        margin-bottom: 24px;
      }
      button {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding: 15px 30px 15px 30px;
        border-radius: 25px;
        width: 152px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
        background: linear-gradient(
          87.14deg,
          rgb(255, 122, 0) 0.269%,
          rgb(255, 176, 57) 99.758%
        );
      }
    }
  }
  .leftBox {
    .picture {
      margin-bottom: -30px;
      margin-left: -40px;
    }
    p {
      color: rgb(17, 17, 17);
      font-family: Open Sans;
      font-size: 18px;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 20px;
      max-width: 705px;
      width: 100%;
    }
    h6 {
      color: rgb(43, 122, 241);
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 8px;
    }
    span {
      color: rgb(17, 17, 17);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}
@media(max-width:1280px){
  .request{
    .requestForm{
      h4{
        font-size: 32px;
      }
      .form{
        input{
          width: 290px;
        }
      }
    }
  }
}
@media(max-width:1000px){
  .request{
    .requestForm{
      width: 350px;
      h4{
        font-size: 29px;
      }
      .form{
        .input{
          width: 270px;
        }
        button{
          width: 180px;
        }
      }
    }
    .leftBox{
      p{
        font-size: 17px;
      }
    }
  }
}
@media(max-width:769px){
  .request{
    .requestForm{
      max-width: 100%;
      margin: 0 10px;
      width: 100%;
      h4{
        font-size: 27px;
      }
      .form{
        button{
          width: 210px;
          padding: 10px 30px;
          font-size: 15px;
        }
      }
    }
    .leftBox{
      display: none;
    }
  }
}
@media(max-width:480px){
  .request{
    .requestForm{
      max-width: 100%;
      margin: 0 10px;
      width: 100%;
      h4{
        font-size: 24px;
      }
      .form{
        .input{
          width: 250px;
          font-size: 14px;
        }
        button{
          width: 210px;
          padding: 8px 25px;
          font-size: 14px;
        }
      }
    }
    .leftBox{
      display: none;
    }
  }
}